<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">



        $(document).ready(function () {
            $('#example').DataTable(
                {
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: 'http://192.168.160.243:8080/products_list',
                        type: 'POST'

                    },
                    columns: [
                        { "data": "name" },
                        { "data": "price" },
                        { "data": "cover" },
                        { "data": "category" }
                    ],
                    
                });
        });


    </script>
</head>

<body>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Cover</th>
                <th>Category</th>
            </tr>
        </thead>
    </table>
</body>

</html>